<html>
<body>
    <form action="/add" method="post">
        Nume:
        <input name="nume" type="text"/>
        <br>
        Email:
        <input name="email" type="text"/>
        <br>
        Telefon:
        <input name="telefon" type="text"/>
        <br>
        <button type="submit">Adauga</button>
    </form>
</body>
</html>